body{
    background-color: cyan;
}
h1{
    font-size: 42;
}
/* tablet-ipad air*/
@media only screen and (max-width:820px)
h1{
    font: size 40px;
}
body{
    background-color: aquamarine;
}
/*phone*/
@media all and (max-width:550px){
 body{   background-color:blueviolet ;
 }

h1{
    font-size: 20px;
}
h2{
    display:none;
}
}